.outerContainer{
    padding-top:2%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.mainContainer{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    width:100%;
    margin-top:1%
}
.contactForm{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    margin-bottom:15px;
    padding:50px
}
.contactFormImage{
    width:75px;
    align-self: center;
    margin-bottom:25px;
}
.contactFormLabel{
    align-self:start;
    margin-top:6%
}
.contactUs{
    padding-top:5%;
    padding-bottom:5%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.contactUsImg{
    width:300px;
    box-sizing: 5px 5px 8px black;
    margin:15px
}

@media only screen and (max-width:850px){
    .contactForm{
        padding:20px;
    }
    .contactFormImage{
        width:60px;
    }
}
@media only screen and (max-width:730px){
    .mainContainer{
        flex-direction: column;
    }
    .contactForm{
        margin-top:20px;
    }
    .contactUs{
        padding-top:2%;
    }
}